body {
    background-color: slategrey;
}

#head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;

}

.colorButtons {
    display: flex;
    justify-content: space-evenly;
}

.blackButton {
    background-color: black;
    color: white;
}

.redButton {
    background-color: red;
}

.blueButton {
    background-color: blue;
}

.greenButton {
    background-color: green;
}

.numButton {
    font-size: x-large;
    margin: 8px;

}

.contents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.container {
    display: grid;
    border: 5px;
    border-style: ridge;
    width: 500px;
    height: 500px;
    /*grid-gap: 1em;*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-width: 500px;
    max-height: 500px;
    background-color: white;
}

.grid-item {
    border: 1px solid #ddd;
    text-align: center;
}

