

#head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numButton {
    font-size: x-large;
    margin: 8px;

}

.contents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.container {
    display: grid;
    border: 5px;
    border-style: ridge;
    width: 500px;
    height: 500px;
    /*grid-gap: 1em;*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-width: 500px;
    max-height: 500px;
}

.grid-item {
    border: 1px solid #ddd;
    text-align: center;
}

.my-color-class {
    background-color: black;
}
